.workspace {
    display: flex;
    width: 500px;
    flex-direction: column;
    border: 1px solid #000;
    min-height: 400px;
}

.title, .description {
    border: none;
}

.title, .description {
    border: 1px solid #000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font-size: 18px;
    font-weight: 900;
    margin-top: 30px;
}

.description {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}



@media (max-width: 991px) {
    .workspace {
        width: 341px;
    }
}

@media (max-width: 768px) {
    .workspace {
        width: 221px;
    }
}

@media (max-width: 469px) {
    .workspace {
        width: 182px;
    }
}

@media (max-width: 375px) {
    .workspace {
        width: 166px;
    }
}