.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.modal__btn {
    margin-top: 20px;
    margin-left: 42%;
    margin-right: -42%;
    transform: translateX(-1px);
}