.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}